body {
  background-color: orange;
}
.app {
  text-align: center;
}

.head {
  background-color: aliceblue;
}
.main {
  background-color: antiquewhite;
}
.forecast {
  background-color: palevioletred;
}

footer {
  background-color: palegreen;
}
